* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1A202C;
    overflow: hidden; /* Impede a rolagem do body */
}

.header-container {
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #1A202C;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.5); /* Sombreamento */
    position: relative;
}

.header-title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.header-bars {
    position: absolute;
    color: white;
    cursor: pointer;
    margin-left: 32px;
}

.sidebar {
    background-color: #171923; /* Cor do sidebar */
    position: fixed;
    height: 100%;
    top: 0;
    left: -300px; /* Inicialmente fora da tela */
    width: 300px;
    transition: left 0.4s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombreamento */
    z-index: 1000; /* Garante que o sidebar esteja acima do conteúdo */
}


.sidebar.open {
    left: 0;
}

.sidebar-content {
    margin-top: 100px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    background-color: #1A202C; /* Cor de fundo do item */
    font-size: 20px; /* Tamanho do texto */
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 0 15px 20px;
}

.sidebar-item:hover {
    background-color: black; /* Cor de fundo ao passar o mouse */
}

.sidebar-item svg {
    margin: 0 20px;
}

.closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
    color: white;
    cursor: pointer;
}

.closebtn svg {
    width: 30px;
    height: 30px;
}

.hidden {
    display: none;
}

.content {
    padding: 20px;
    margin-left: 0; /* Corrigido para acomodar o sidebar */
    margin-right: 0;
    width: 100%; /* Garantir que ocupe toda a largura disponível */
    height: calc(100vh - 100px); /* Ajusta a altura para preencher a tela */
    overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a área disponível */
    position: relative; /* Necessário para o layout */
}

#form-container {
    margin-top: 20px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-warning:hover {
    background-color: #e0a800;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0069d9;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

h2 {
    color: #28a745;    
}

/* Estilo para o título da lista de professores */
#form-container h3 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

/* Container da lista com rolagem */
.scrollable-list {
    max-height: 100%; /* Ocupa todo o espaço disponível */
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd; /* Bordas para o contêiner */
    background-color: #f9f9f9; /* Fundo distinto */
    border-radius: 8px; /* Bordas arredondadas */
}

/* Estilo para cada cartão de professor */
.professor-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

/* Estilo para os textos dentro do cartão */
.professor-card p {
    margin: 5px 0;
}

/* Estilo para as ações dos cartões */
.card-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

